<h1> List of all actors </h1>


  <table border="1">
    <tr>
      <th> ID </th>
      <th> Image </th>
      <th> Name </th>
      <th> DOB </th>
      <th>  </th>
    </tr>
<%@actor_table.each do |person|%>
    <tr>
      <td> <%=person.id%> </td>
      <td> <img src="<%=person.image%>" style="width:250px;"> </td>
      <td> <%=person.name%> </td>
      <td> <%=person.dob%> </td>
      <td> <a href = "/actors/<%=person.id%>""> Show Details </a></td>
    </tr>
<%end%>
